# Rob's Capstone Project

This notebook with contain my work for the [capstone project](https://www.coursera.org/learn/applied-data-science-capstone/home/welcome) for IBM Data Science Specialization certificate.
### Week 5

**Name**: Robert Barrimond

**Date**: May 20, 2021

**REVIEWER PLEASE NOTE**
I do _not_ comment my code with Markdown. As an SRE (Site Reliability Engineer), I do as application developers should do: document code _in the code_ and everywhere possible by the code itself. Having said that, SREs are also called to be data scientists as well. So, I use Markdown to "tell the story" as that first overview course taught me so many months ago. I hope this assignment was easy to follow and grade!

---

## Problem Statement
I've decided to see if it's worth pursuing opening a Cambodian restaurant somewhere in Toronto. I noticed from the previous assignments that the city is quite cosmopolitan and would welcome such a restaurant. The real problem is _where_ to locate it. My strategy will be to narrow the list of venues to Asian restaurants, get premium data on just those venues, e.g. number of like and rating, and use that to produce better clusters that can make my decision easier.

In [1]:
#
# Import the necessary modules
#

# Data analysis and transformation
import pandas as pd
import numpy as np

# REST API access
import requests

# File access
import os
from os import path
import pickle

# Geocoders
import geopy
from geopy.geocoders import Nominatim

# Regex
import re

# Progress bars
from tqdm import tqdm

## Retrieve and Clean Data for Analysis
### Tag Asian Restaurants as a Feature Using the Foursquare API

Because it took [some work](https://github.com/rbarrimond/Coursera_Capstone/blob/5afe9c180839529c96ee71c8a5fae69746b9f4c3/toronto-kmeans-clustering.ipynb) to build a clean dataframe of FSAs from Wikipedia, I'll omit that work here and simple read the pickle from disk. Next I use the Foursquare API `explore` endpoint to get all the nearby venues. Once I retrieve these I'll sift out all restaurants and make Asain restaurants as a feature to use in my clustering analysis. This is a improvement over what was done in Week 4. I learned a good bit on getting information from the explore API up front and using that correct FSAs.

In [2]:
# Load the FSA data from previous work
fsa_df = pd.read_pickle('fsa_df.pkl')
fsa_df.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Queen's Park,Ontario Provincial Government,43.662301,-79.389494

In [3]:
# FourSquare credentials
CLIENT_ID = '0II4MXQK5GVKQA3YIZRXT3D0KWBAKEH2BCCYRWIK4H0DS5XH' # your Foursquare ID
CLIENT_SECRET = 'ZBOCOGUCP2AXOQNAFSPX05IAXWAPBNUBC2FTAGYJV4DDS3AA' # your Foursquare Secret
ACCESS_TOKEN = 'ESEQDUIWNVRAS11OKDDXMICGNUPXLZCHPVHCZ53OTT2LQWBS' # your FourSquare Access Token
VERSION = '20180605' # Foursquare API version
LIMIT = 100 # A default Foursquare API limit value

In [4]:
# This function takes a sequence of names, lats and longs and produces a dataframe of nearby venues
def getNearbyVenues(names, latitudes, longitudes, radius=500):
    
    venues_list=[]
    nearby_venues = pd.DataFrame()

    with tqdm(total=len(names)) as pbar:
        for name, lat, lng in zip(names, latitudes, longitudes):
                
            # create the API request URL
            url = 'https://api.foursquare.com/v2/venues/search'
            payload = {
                'client_id': CLIENT_ID,
                'client_secret': CLIENT_SECRET,
                'v': VERSION,
                'll': '{},{}'.format(lat,lng),
                'radius': radius,
                'limit': LIMIT
            }
        
            # make the GET request, raise exception if an error
            r = requests.get(url, params=payload)
            r.raise_for_status()
            
            # create dataframe, return only relevant information for each nearby venue
            results = pd.json_normalize(r.json()["response"]['venues'])
            results.rename(columns={
                                    'id': 'Venue ID',
                                    'name': 'Venue', 
                                    'location.lat': 'Venue Latitude', 
                                    'location.lng': 'Venue Longitude',
                                    'location.address': 'Venue Address',
                                    'location.postalCode': 'Venue Postal Code'
                                }, inplace=True)
            results['Venue Category'] = results['categories'].loc[ results['categories'].notna() ].apply(lambda x: x[0]['name'] if len(x) > 0 else None)
            results['Neighborhood'] = name
            results['Neighborhood Latitude'] = lat
            results['Neighborhood Longitude'] = lng

            columns = ['Neighborhood', 
                        'Neighborhood Latitude', 
                        'Neighborhood Longitude', 
                        'Venue ID',
                        'Venue', 
                        'Venue Latitude', 
                        'Venue Longitude',
                        'Venue Address',
                        'Venue Postal Code',
                        'Venue Category']

            nearby_venues = nearby_venues.append(results[columns], ignore_index=True)
            pbar.update()
            
    return nearby_venues

In [5]:
# Retrieve all the venues in Toronto
toronto_venues = getNearbyVenues(fsa_df['PostalCode'], fsa_df['Latitude'], fsa_df['Longitude'])

# Quick cleanup
toronto_venues.drop_duplicates(subset=['Venue ID'], inplace=True, ignore_index=True)
toronto_venues.dropna(axis='index', subset=['Venue Category'], inplace=True)
toronto_venues.reset_index(drop=True, inplace=True)
toronto_venues['Venue Postal Code'] = toronto_venues['Venue Postal Code'].str.upper()
toronto_venues

100%|██████████| 103/103 [00:19<00:00,  5.19it/s]

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue ID,Venue,Venue Latitude,Venue Longitude,Venue Address,Venue Postal Code,Venue Category
0,M3A,43.753259,-79.329656,4e8d9dcdd5fbbbb6b3003c7b,Brookbanks Park,43.751976,-79.332140,Toronto,NaN,Park
1,M3A,43.753259,-79.329656,4f3a69f9e4b024185be5a99b,17 Brookbanks Drive,43.752266,-79.332322,15 Brookbanks Dr.,M3A 2S9,Residential Building (Apartment / Condo)
2,M3A,43.753259,-79.329656,4dcc586845dd853165f01864,Tailor Made,43.741513,-79.319707,NaN,NaN,Laundry Service
3,M3A,43.753259,-79.329656,5e111e7e9316a70007fb9653,Subway,43.760334,-79.326906,"1277 York Mills Road, Unit F1-2, Bldg F",M3A 1Z5,Sandwich Place
4,M3A,43.753259,-79.329656,4bda3d363904a59320d5459e,Joey,43.753441,-79.321640,NaN,NaN,Burger Joint
...,...,...,...,...,...,...,...,...,...,...
8695,M8Z,43.628841,-79.520999,4b4a2c3ff964a520507d26e3,Jim & Maria's No Frills,43.631152,-79.518617,1020 Islington Ave,M8Z 6A4,Grocery Store
8696,M8Z,43.628841,-79.520999,5766bbe1498e063d79da076f,Pavao Meats,43.626930,-79.527209,16 Jutland road,M8C 2G9,Butcher
8697,M8Z,43.628841,-79.520999,4c34d41a16adc928b6d3c59c,Food Depot International,43.627208,-79.527310,14 Jutland Road,M8Z 2G9,Food & Drink Shop
8698,M8Z,43.628841,-79.520999,51e5696b498e9ff78a14be19,Torque Barbell,43.632061,-79.525625,253 Norseman St,M8Z 2R4,Gym / Fitness Center
8699,M8Z,43.628841,-79.520999,4ee23ae71e1778df278ca4c2,StorageMart,43.634341,-79.520239,144 Norseman St,M8Z 2R4,Storage Facility

In [6]:
# Explore the types of restaurants
restaurants = toronto_venues.loc[ toronto_venues['Venue Category'].str.contains('restaurant', case=False, regex=True) ].copy()
types = restaurants['Venue Category'].str.replace("Restaurant", "")
types = sorted(types.unique())
types

['',
 'Afghan ',
 'African ',
 'American ',
 'Argentinian ',
 'Asian ',
 'Bangladeshi ',
 'Belgian ',
 'Burmese ',
 'Cajun / Creole ',
 'Cantonese ',
 'Caribbean ',
 'Chinese ',
 'Comfort Food ',
 'Cuban ',
 'Dim Sum ',
 'Dumpling ',
 'Eastern European ',
 'English ',
 'Ethiopian ',
 'Falafel ',
 'Fast Food ',
 'Filipino ',
 'French ',
 'German ',
 'Gluten-free ',
 'Greek ',
 'Hakka ',
 'Halal ',
 'Hungarian ',
 'Indian ',
 'Italian ',
 'Japanese ',
 'Jewish ',
 'Korean ',
 'Korean BBQ ',
 'Latin American ',
 'Mediterranean ',
 'Mexican ',
 'Middle Eastern ',
 'Modern European ',
 'Moroccan ',
 'New American ',
 'North Indian ',
 'Pakistani ',
 'Peking Duck ',
 'Persian ',
 'Portuguese ',
 'Ramen ',
 'Seafood ',
 'South Indian ',
 'Sri Lankan ',
 'Sushi ',
 'Swiss ',
 'Szechuan ',
 'Tapas ',
 'Thai ',
 'Theme ',
 'Tibetan ',
 'Turkish ',
 'Vegetarian / Vegan ',
 'Vietnamese ']

In [7]:
# Set the Asian categories based on the above and create a cleaned Asian restaurants dataframe
asian_categories = [ 'Asian', 'Cantonese', 'Chinese', 'Dim Sum', 'Dumpling', 'Filipino', 'Japanese', 'Korean', 'Korean BBQ', 'Peking Duck', 'Ramen', 'Sushi', 'Szechuan', 'Taiwanese', 'Thai', 'Tibetan', 'Vietnamese']
asian_restaurants = toronto_venues.loc[ toronto_venues['Venue Category'].str.contains("|".join(asian_categories) + ' restaurant', case=False, regex=True) ].copy()
asian_restaurants.reset_index(drop=True, inplace=True)
asian_restaurants

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue ID,Venue,Venue Latitude,Venue Longitude,Venue Address,Venue Postal Code,Venue Category
0,M5A,43.654260,-79.360636,4f73a473e4b0c1f445d21c78,Huayu Kitchen,43.654148,-79.357826,NaN,NaN,Chinese Restaurant
1,M7A,43.662301,-79.389494,5ab3d9f875a6ea3a7ddc4d2b,Thai Express,43.661630,-79.387340,76 Grenville St,M5S 1B2,Thai Restaurant
2,M7A,43.662301,-79.389494,59a86be58d1070397a5101be,Sushi Shop,43.661620,-79.387636,"76 Grenville St, Woman's College Hospital",M5S 1B2,Sushi Restaurant
3,M1B,43.806686,-79.194353,4c706524df6b8cfab244b84d,Charley's Exotic Cuisine,43.800982,-79.200233,3-1158 Morningside Ave,M1B 3A4,Chinese Restaurant
4,M3B,43.745906,-79.352188,53bafb4f498eb927faa3cd9e,Matsuda Japanese Cuisine & Teppanyaki,43.745494,-79.345821,1300 Don Mills Rd #2,M3B 2W6,Japanese Restaurant
...,...,...,...,...,...,...,...,...,...,...
242,M8X,43.653654,-79.506944,4aee0654f964a5206ad121e3,Sushi 2 Go,43.647875,-79.509427,2976 Bloor Street West,M8X 1B9,Sushi Restaurant
243,M8X,43.653654,-79.506944,4b11a52ef964a5204b8123e3,Momiji Sushi Bar & Grill,43.647843,-79.508534,2955 Bloor St. W.,M8X 1B8,Sushi Restaurant
244,M4Y,43.665860,-79.383160,4e36063c8877beb5e9b29c87,Bowl,43.665443,-79.382027,NaN,NaN,Asian Restaurant
245,M4Y,43.665860,-79.383160,5c7a1d6f5bc27d00254a87e1,Dakgogi,43.665093,-79.383521,25 Wellesley St E,M4Y 2S9,Korean Restaurant
246,M7Y,43.662744,-79.321558,56b2cd62498e0819ad42f567,My Little Dumplings,43.664504,-79.325709,1372 Queen St E,M4L 1C9,Dumpling Restaurant

### Pull Full Data from Foursquare for Each Asian Restaurant
NOTE: The `/venue` endpoint is a premium API. As a result, I cached results to file.

In [8]:
# Read in venue data either from cache or from Foursquare
asian_venue_data = {}
if path.exists('asian_venue_data.pkl'):
    with open('asian_venue_data.pkl', 'rb') as f:
        asian_venue_data = pickle.load(f)
else:
    payload = {
        'client_id': CLIENT_ID,
        'client_secret': CLIENT_SECRET,
        'v': VERSION
        }

    with tqdm(total=len(asian_restaurants['Venue ID'])) as pbar:
        for venue_id in asian_restaurants['Venue ID']:
            try:
                url = 'https://api.foursquare.com/v2/venues/{}'.format(venue_id)
                r = requests.get(url, params=payload)
                r.raise_for_status()

                asian_venue_data[venue_id] = r.json()['response']
            except:
                pass
            pbar.update()
       
    with open('asian_venue_data.pkl', 'wb') as f:
        pickle.dump(asian_venue_data, f, pickle.HIGHEST_PROTOCOL)

In [9]:
# Create a dataframe for the venue data
asian_venue_data_df = pd.DataFrame()
for id in tqdm(asian_venue_data):
    asian_venue_data_df = asian_venue_data_df.append(pd.json_normalize(asian_venue_data[id]), ignore_index=True)
asian_venue_data_df.set_index('venue.id', inplace=True)
asian_venue_data_df

100%|██████████| 242/242 [00:09<00:00, 26.59it/s]

,venue.name,venue.contact.phone,venue.contact.formattedPhone,venue.location.address,venue.location.lat,venue.location.lng,venue.location.labeledLatLngs,venue.location.postalCode,venue.location.cc,venue.location.city,...,venue.page.user.firstName,venue.page.user.countryCode,venue.page.user.type,venue.page.user.tips.count,venue.page.user.lists.groups,venue.page.user.bio,venue.location.neighborhood,venue.parent.location.neighborhood,venue.storeId,venue.page.pageInfo.description
venue.id,,,,,,,,,,,,,,,,,,,,,
5ab3d9f875a6ea3a7ddc4d2b,Thai Express,4169219222,(416) 921-9222,76 Grenville St,43.661630,-79.387340,"[{'label': 'display', 'lat': 43.66163, 'lng': ...",M5S 1B2,CA,Toronto,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59a86be58d1070397a5101be,Sushi Shop,4169299777,(416) 929-9777,"76 Grenville St, Woman's College Hospital",43.661620,-79.387636,"[{'label': 'display', 'lat': 43.66162, 'lng': ...",M5S 1B2,CA,Toronto,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4c706524df6b8cfab244b84d,Charley's Exotic Cuisine,4162828608,(416) 282-8608,3-1158 Morningside Ave,43.800982,-79.200233,"[{'label': 'display', 'lat': 43.80098159718747...",M1B 3A4,CA,Toronto,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4dd05e15ae603b786d5f1a34,977 Cafe,NaN,NaN,NaN,43.706999,-79.310286,"[{'label': 'display', 'lat': 43.70699928709498...",NaN,CA,Toronto,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4f949f04e4b03c10544badb2,New East Garden,NaN,NaN,"2889 St Clair Ave E, East York, ON M4B 1N5",43.707505,-79.303303,"[{'label': 'display', 'lat': 43.70750479649608...",M4B 1N5,CA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4aee0654f964a5206ad121e3,Sushi 2 Go,4162365909,(416) 236-5909,2976 Bloor Street West,43.647875,-79.509427,"[{'label': 'display', 'lat': 43.64787495176972...",M8X 1B9,CA,Toronto,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4b11a52ef964a5204b8123e3,Momiji Sushi Bar & Grill,4162322320,(416) 232-2320,2955 Bloor St. W.,43.647843,-79.508534,"[{'label': 'display', 'lat': 43.64784304189297...",M8X 1B8,CA,Etobicoke,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4e36063c8877beb5e9b29c87,Bowl,NaN,NaN,NaN,43.665443,-79.382027,"[{'label': 'display', 'lat': 43.66544342041015...",NaN,CA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5c7a1d6f5bc27d00254a87e1,Dakgogi,NaN,NaN,25 Wellesley St E,43.665093,-79.383521,"[{'label': 'display', 'lat': 43.665093, 'lng':...",M4Y 2S9,CA,Toronto,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56b2cd62498e0819ad42f567,My Little Dumplings,4169120374,(416) 912-0374,1372 Queen St E,43.664504,-79.325709,"[{'label': 'display', 'lat': 43.66450364048565...",M4L 1C9,CA,Toronto,...,NaN,NaN,NaN,NaN,NaN,NaN,"Leslieville, Toronto, ON",NaN,NaN,NaN

In [10]:
#
# Join key data fields to the restaurants data frame and identify the dupes
#
key_venue_cols = [
    'venue.stats.tipCount',
    'venue.price.tier',
    'venue.rating',
    'venue.likes.count'
]
asian_restaurants = asian_restaurants.join(asian_venue_data_df[key_venue_cols], on='Venue ID')

# Cleanup
asian_restaurants.rename(columns={
    'venue.stats.tipCount': 'Venue Tip Count',
    'venue.price.tier': 'Venue Price Tier',
    'venue.rating': 'Venue Rating',
    'venue.likes.count': 'Venue Likes'
}, inplace=True)

asian_restaurants['Venue Price Tier'] = asian_restaurants['Venue Price Tier'].astype(pd.Int64Dtype())
asian_restaurants['Venue Tip Count'] = asian_restaurants['Venue Tip Count'].astype(pd.Int64Dtype())
asian_restaurants['Venue Likes'] = asian_restaurants['Venue Likes'].astype(pd.Int64Dtype())
asian_restaurants

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue ID,Venue,Venue Latitude,Venue Longitude,Venue Address,Venue Postal Code,Venue Category,Venue Tip Count,Venue Price Tier,Venue Rating,Venue Likes
0,M5A,43.654260,-79.360636,4f73a473e4b0c1f445d21c78,Huayu Kitchen,43.654148,-79.357826,NaN,NaN,Chinese Restaurant,<NA>,<NA>,NaN,<NA>
1,M7A,43.662301,-79.389494,5ab3d9f875a6ea3a7ddc4d2b,Thai Express,43.661630,-79.387340,76 Grenville St,M5S 1B2,Thai Restaurant,0,2,6.4,0
2,M7A,43.662301,-79.389494,59a86be58d1070397a5101be,Sushi Shop,43.661620,-79.387636,"76 Grenville St, Woman's College Hospital",M5S 1B2,Sushi Restaurant,0,2,NaN,1
3,M1B,43.806686,-79.194353,4c706524df6b8cfab244b84d,Charley's Exotic Cuisine,43.800982,-79.200233,3-1158 Morningside Ave,M1B 3A4,Chinese Restaurant,1,1,NaN,1
4,M3B,43.745906,-79.352188,53bafb4f498eb927faa3cd9e,Matsuda Japanese Cuisine & Teppanyaki,43.745494,-79.345821,1300 Don Mills Rd #2,M3B 2W6,Japanese Restaurant,<NA>,<NA>,NaN,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242,M8X,43.653654,-79.506944,4aee0654f964a5206ad121e3,Sushi 2 Go,43.647875,-79.509427,2976 Bloor Street West,M8X 1B9,Sushi Restaurant,7,2,6.5,2
243,M8X,43.653654,-79.506944,4b11a52ef964a5204b8123e3,Momiji Sushi Bar & Grill,43.647843,-79.508534,2955 Bloor St. W.,M8X 1B8,Sushi Restaurant,14,2,7.8,36
244,M4Y,43.665860,-79.383160,4e36063c8877beb5e9b29c87,Bowl,43.665443,-79.382027,NaN,NaN,Asian Restaurant,0,2,NaN,0
245,M4Y,43.665860,-79.383160,5c7a1d6f5bc27d00254a87e1,Dakgogi,43.665093,-79.383521,25 Wellesley St E,M4Y 2S9,Korean Restaurant,0,2,NaN,0
246,M7Y,43.662744,-79.321558,56b2cd62498e0819ad42f567,My Little Dumplings,43.664504,-79.325709,1372 Queen St E,M4L 1C9,Dumpling Restaurant,1,1,NaN,1

In [11]:
# 
# Create masks to filter the dataframe
#

postal_code_mask = pd.notna(asian_restaurants['Venue Postal Code'])
postal_code_match_mask = (asian_restaurants['Venue Postal Code'].str.extract('^(\w{3})', expand=False) == asian_restaurants['Neighborhood'])
address_mask = pd.notna(asian_restaurants['Venue Address'])

# Venues with mismatched postal codes
pd.set_option('max_rows', 200)
asian_restaurants[['Venue','Neighborhood','Venue Postal Code', 'Venue Address']].loc[~postal_code_match_mask]

,Venue,Neighborhood,Venue Postal Code,Venue Address
0,Huayu Kitchen,M5A,NaN,NaN
1,Thai Express,M7A,M5S 1B2,76 Grenville St
2,Sushi Shop,M7A,M5S 1B2,"76 Grenville St, Woman's College Hospital"
5,977 Cafe,M4B,NaN,NaN
7,Michi Roll and Sushi,M5B,NaN,113 Bond Street
9,Miyako Sushi Restaurant,M6B,NaN,572 Marlee Ave
10,Li Cheng Restaurant,M6B,NaN,529 Marlee Avenue
11,Tambayan,M6B,NaN,541 Marlee Ave
12,Miyako sushi,M6B,NaN,NaN
13,Spoon and Fork,M9B,M9C 5M1,5555 Eglinton Ave W
14,Far East Chinese Food,M9B,NaN,137 Martin Grove Road
16,Taste Buddies,M1C,NaN,5532 Lawrence Ave
17,W Sushi,M1C,NaN,235 Edinburgh rd
19,Asian Legend,M3C,NaN,NaN
20,Pho 88 發發餐廳,M3C,NaN,900 Don Mills Road
23,Spring Rolls,M5C,NaN,120 Church St.
25,Springrolls Go,M5C,NaN,120 Church St
26,The Thai Grill,M6C,NaN,961 Eglington West
28,Seaspray Restaurant,M4E,NaN,629 Kingston Rd
30,Mama Lee’s,M5E,M5J 3B1,NaN
33,Sushi Zuki,M6E,NaN,2030 Eglinton Avenue West
34,Korean Grill House,M1G,NaN,369 Yonge Street
35,Kuya Joe's Kitchen,M1G,M1H 2Y1,803 Markham Rd
36,Lucky Hakka,M1G,ON,"3774 Lawrence Avenue East,"
37,Maki Sushi,M4G,NaN,45 Wicksteed Ave
38,Tao Northern Chinese Cuisine,M4G,NaN,220 Laird Dr
40,ND sushi and grill,M4G,NaN,101-214 laird dr
42,Mikado,M4G,NaN,NaN
43,Ichiban Sushi Express,M5G,NaN,555 University Ave
45,Jade,M5G,NaN,183 Elizabeth St.
46,Gobo sushi,M6G,NaN,NaN
47,Bungeoppang Stall,M6G,NaN,"PAT Central, 675 Bloor Street"
49,Tangerines,M1H,NaN,NaN
52,고려삼계탕,M2H,NaN,5865 Leslie St.
53,Yoko Japanese Korean Restaurant,M2H,NaN,490 McNicoll Ave.
56,Suhan Dumplings,M3H,NaN,NaN
58,Original Barrio Fiesta,M4H,NaN,45 Overlea Blvd
60,Wikki Hut,M5H,NaN,Richmond Adelaide Centre
64,Ninki Izakaya,M5H,NaN,133 Richmond Street West
65,Bibab Express,M5H,NaN,NaN
67,Wok Fortune Chinese Restutant,M1J,NaN,2900 Eglinton Ave E
68,Jessie Jr,M1J,NaN,NaN
69,Macsushi,M2J,NaN,Fairview Mall
70,Aji Sushi,M3J,NaN,1325 Finch Street West
72,Phở Liên Hương,M3J,NaN,1300 Finch Ave West
73,Ha gow Dim Sum House,M4J,NaN,988 Danforth Ave.
74,Green Lady,M4J,NaN,NaN
77,Bazara,M6J,NaN,188 Ossington
81,Ikki sushi,M1K,NaN,2328 Kingston rd
82,Tagpuan,M1K,NaN,707 Kennedy Road
83,Goodluck Chinese,M1K,NaN,NaN
85,Kaga Sushi,M2K,NaN,652 Finch Ave E
87,Tokyo Sushi (on Bayview),M2K,NaN,1614 Bayview Ave.
89,본가 신촌 설렁탕,M2K,NaN,NaN
90,luxury street Viennese,M2K,NaN,NaN
91,Wasabi Grand Buffet,M2K,NaN,98 Courtney Park Dr. East
94,Blossom Chinese Restaurant,M3K,NaN,NaN
95,Isinay Filipino Restaurant,M3K,NaN,NaN
100,katzu sushi,M4K,NaN,NaN
101,Sushi Delight,M4K,NaN,461 Danforth Ave.
102,Umi Sushi Express,M5K,NaN,100 Wellington St. W
103,Eat Canteen,M5K,NaN,100 Wellington St. W
105,Wok with You,M1L,NaN,NaN
106,Good Luck,M1L,NaN,NaN
107,Banh Mi Saigon,M3L,NaN,NaN
108,Yogi Noodle Delight,M3L,NaN,325 Bamburgh Circle
109,Cuu Long Pho,M3L,NaN,NaN
110,Pho Tien Phat,M3L,NaN,2133 Jane Street
112,Wok of Fame,M3L,NaN,NaN
113,Pho Bo Hu Tieu Mi,M3L,NaN,2522 Jane Street
114,Cửu Long Miền Tây,M3L,NaN,2522 Jane Street
115,O Sushi,M4L,NaN,6 Coxwell
116,Sushi-Q,M5L,M5H 1T1,199 Bay
118,Bento Nouveau,M5L,NaN,40 King St West
119,Lucky Dragon Chinese Food,M6L,NaN,2524 Keele st.
120,Pho Bo To,M6L,NaN,1635 Lawrence Ave W
121,Dynasty House,M6L,NaN,NaN
123,The Family Thai,M1M,NaN,785 Danforth Ave
126,장군곱창,M2M,NaN,NaN
127,Ha Roo,M2M,NaN,NaN
130,Pho Mi Nha Trang,M3M,NaN,1365 Wilson Ave
131,the golden plate,M3M,NaN,NaN
134,Sakura Garden,M5M,NaN,1921 Avenue road
135,Nara Sushi,M5M,NaN,1931 Avenue Road
140,Yaso Sushi,M5M,NaN,399 Old Orchard Grove
141,Oriental City Restaurant,M6M,NaN,2539 Eglinton Ave. W
147,Pho 88 Vietnamese Cuisine,M2N,NaN,5197 Yonge St
150,Wako Sushi + Bar,M2N,NaN,5213 Yonge Street
153,Wakame Sushi,M4N,M3H 2S1,638 Sheppard Ave West
154,Pho Now,M6N,M6P 1Y8,2561 St Clair Ave W #6
155,Ho Lee Chow,M6N,NaN,NaN
156,Vietnamese Noodle House,M6N,NaN,NaN
158,Saigon Bangkok,M6N,NaN,2428 St Clair Ave W
159,China China Express,M9N,NaN,2145 Weston Rd.
160,Peter Anan Thai Restaurant,M9N,NaN,2049 Weston rd.
162,世外桃源,M2P,NaN,NaN
163,Ho Su Korean & Japanese Restaurant,M4P,NaN,NaN
164,Nikko Sushi Japenese Restaurant,M5P,M5N 1A2,376 Eglinton Ave. W
165,Duckee Asian Food,M5P,M5N 1B1,525 Eglinton Avenue West
170,FV Foods,M1R,NaN,2085 Lawrence Avenue East
172,Issimi sushi,M4R,NaN,1984 avenue road
174,Dimsum Break,M5R,NaN,"3rd Floor, Annex Bldg."
176,Sues Thai food (vickys),M6R,NaN,414 roncesvalles ave
178,Dynasty BBQ restaurant,M7R,NaN,1550 South Gateway
179,Wokker,M7R,NaN,NaN
180,Ichiban Sushi,M9R,M5J 1B5,262 Queens Quay West Unit 5
182,Timehri Restaurant,M1S,NaN,4531 Sheppard Ave East
183,Inchen House Korean Restaurant,M1S,NaN,NaN
185,Royal Chinese Seafood Restaurant,M1S,NaN,"735 Middlefield Road, Unit 4-5"
186,Sakae Sushi,M4S,NaN,643a Mt Pleasant Rd
189,Spring Rolls,M5S,NaN,100 St. George Street
190,Asa Sushi,M6S,NaN,18 Jane St.
191,Yumi Sushi,M6S,NaN,2384 Bloor Street West
193,Sushi 2 Go,M6S,NaN,NaN
195,The Royal Chinese Restaurant 避風塘小炒,M1T,NaN,3587 Sheppard Ave E
196,Spicy Lucky Party,M1T,NaN,NaN
199,面對面,M1T,NaN,NaN
201,Yuzu,M4T,NaN,NaN
209,Sang Ho Seafood Restaurant,M5T,NaN,536 Dundas St W
210,Ten Sing Eatery,M1V,NaN,NaN
211,Yu Yummy Kitchen,M1V,NaN,NaN
212,真北餃子王,M1V,NaN,NaN
213,Jun Yue Foods,M1V,NaN,3833 Midland Ave
216,West Street Cuisine,M1V,NaN,NaN
217,Fok Yuan Seafood Restaurant,M1V,NaN,3833 Midland Avenue
219,SuperBuffet,M4V,NaN,NaN
220,sushi,M8V,NaN,2875 lakeshore st west
222,Jasmine Chinese Food,M1W,NaN,2900 Warden Avenue
225,Takesushi,M5W,NaN,Front
227,Chinese Canadia,M8W,NaN,NaN
228,Delicious,M8W,NaN,NaN
230,Lilings Kitchen,M1X,NaN,NaN
236,Yummy T&J,M4X,NaN,587 Parliament st
237,Szechuan Express,M5X,NaN,100 King St. W
241,sushi to go,M8X,NaN,2926 Bloor st w
244,Bowl,M4Y,NaN,NaN
246,My Little Dumplings,M7Y,M4L 1C9,1372 Queen St E

As we can see there are a lot of mismatches in the data. The FSAs that we initially set as `Neighborhood` don't match the offical FSA in `Postal Code`. The good news is that most of them were pretty close so that bodes well for me to start adjusting the `Neighborhood` column to reflect the "true" FSA. The first thing to do is adjust the known FSAs.

In [12]:
# Adjust Neighborhood to known FSA

mask = postal_code_mask & ~postal_code_match_mask
asian_restaurants.loc[ mask, 'Neighborhood'] = asian_restaurants.loc[mask, 'Venue Postal Code'].str.extract('^(\w{3})', expand=False)

# Reset masks
postal_code_mask = pd.notna(asian_restaurants['Venue Postal Code'])
postal_code_match_mask = (asian_restaurants['Venue Postal Code'].str.extract('^(\w{3})', expand=False) == asian_restaurants['Neighborhood'])
address_mask = pd.notna(asian_restaurants['Venue Address'])

# Check results
asian_restaurants[['Venue','Neighborhood','Venue Postal Code', 'Venue Address']].loc[~postal_code_match_mask]

,Venue,Neighborhood,Venue Postal Code,Venue Address
0,Huayu Kitchen,M5A,NaN,NaN
5,977 Cafe,M4B,NaN,NaN
7,Michi Roll and Sushi,M5B,NaN,113 Bond Street
9,Miyako Sushi Restaurant,M6B,NaN,572 Marlee Ave
10,Li Cheng Restaurant,M6B,NaN,529 Marlee Avenue
11,Tambayan,M6B,NaN,541 Marlee Ave
12,Miyako sushi,M6B,NaN,NaN
14,Far East Chinese Food,M9B,NaN,137 Martin Grove Road
16,Taste Buddies,M1C,NaN,5532 Lawrence Ave
17,W Sushi,M1C,NaN,235 Edinburgh rd
19,Asian Legend,M3C,NaN,NaN
20,Pho 88 發發餐廳,M3C,NaN,900 Don Mills Road
23,Spring Rolls,M5C,NaN,120 Church St.
25,Springrolls Go,M5C,NaN,120 Church St
26,The Thai Grill,M6C,NaN,961 Eglington West
28,Seaspray Restaurant,M4E,NaN,629 Kingston Rd
33,Sushi Zuki,M6E,NaN,2030 Eglinton Avenue West
34,Korean Grill House,M1G,NaN,369 Yonge Street
36,Lucky Hakka,NaN,ON,"3774 Lawrence Avenue East,"
37,Maki Sushi,M4G,NaN,45 Wicksteed Ave
38,Tao Northern Chinese Cuisine,M4G,NaN,220 Laird Dr
40,ND sushi and grill,M4G,NaN,101-214 laird dr
42,Mikado,M4G,NaN,NaN
43,Ichiban Sushi Express,M5G,NaN,555 University Ave
45,Jade,M5G,NaN,183 Elizabeth St.
46,Gobo sushi,M6G,NaN,NaN
47,Bungeoppang Stall,M6G,NaN,"PAT Central, 675 Bloor Street"
49,Tangerines,M1H,NaN,NaN
52,고려삼계탕,M2H,NaN,5865 Leslie St.
53,Yoko Japanese Korean Restaurant,M2H,NaN,490 McNicoll Ave.
56,Suhan Dumplings,M3H,NaN,NaN
58,Original Barrio Fiesta,M4H,NaN,45 Overlea Blvd
60,Wikki Hut,M5H,NaN,Richmond Adelaide Centre
64,Ninki Izakaya,M5H,NaN,133 Richmond Street West
65,Bibab Express,M5H,NaN,NaN
67,Wok Fortune Chinese Restutant,M1J,NaN,2900 Eglinton Ave E
68,Jessie Jr,M1J,NaN,NaN
69,Macsushi,M2J,NaN,Fairview Mall
70,Aji Sushi,M3J,NaN,1325 Finch Street West
72,Phở Liên Hương,M3J,NaN,1300 Finch Ave West
73,Ha gow Dim Sum House,M4J,NaN,988 Danforth Ave.
74,Green Lady,M4J,NaN,NaN
77,Bazara,M6J,NaN,188 Ossington
81,Ikki sushi,M1K,NaN,2328 Kingston rd
82,Tagpuan,M1K,NaN,707 Kennedy Road
83,Goodluck Chinese,M1K,NaN,NaN
85,Kaga Sushi,M2K,NaN,652 Finch Ave E
87,Tokyo Sushi (on Bayview),M2K,NaN,1614 Bayview Ave.
89,본가 신촌 설렁탕,M2K,NaN,NaN
90,luxury street Viennese,M2K,NaN,NaN
91,Wasabi Grand Buffet,M2K,NaN,98 Courtney Park Dr. East
94,Blossom Chinese Restaurant,M3K,NaN,NaN
95,Isinay Filipino Restaurant,M3K,NaN,NaN
100,katzu sushi,M4K,NaN,NaN
101,Sushi Delight,M4K,NaN,461 Danforth Ave.
102,Umi Sushi Express,M5K,NaN,100 Wellington St. W
103,Eat Canteen,M5K,NaN,100 Wellington St. W
105,Wok with You,M1L,NaN,NaN
106,Good Luck,M1L,NaN,NaN
107,Banh Mi Saigon,M3L,NaN,NaN
108,Yogi Noodle Delight,M3L,NaN,325 Bamburgh Circle
109,Cuu Long Pho,M3L,NaN,NaN
110,Pho Tien Phat,M3L,NaN,2133 Jane Street
112,Wok of Fame,M3L,NaN,NaN
113,Pho Bo Hu Tieu Mi,M3L,NaN,2522 Jane Street
114,Cửu Long Miền Tây,M3L,NaN,2522 Jane Street
115,O Sushi,M4L,NaN,6 Coxwell
118,Bento Nouveau,M5L,NaN,40 King St West
119,Lucky Dragon Chinese Food,M6L,NaN,2524 Keele st.
120,Pho Bo To,M6L,NaN,1635 Lawrence Ave W
121,Dynasty House,M6L,NaN,NaN
123,The Family Thai,M1M,NaN,785 Danforth Ave
126,장군곱창,M2M,NaN,NaN
127,Ha Roo,M2M,NaN,NaN
130,Pho Mi Nha Trang,M3M,NaN,1365 Wilson Ave
131,the golden plate,M3M,NaN,NaN
134,Sakura Garden,M5M,NaN,1921 Avenue road
135,Nara Sushi,M5M,NaN,1931 Avenue Road
140,Yaso Sushi,M5M,NaN,399 Old Orchard Grove
141,Oriental City Restaurant,M6M,NaN,2539 Eglinton Ave. W
147,Pho 88 Vietnamese Cuisine,M2N,NaN,5197 Yonge St
150,Wako Sushi + Bar,M2N,NaN,5213 Yonge Street
155,Ho Lee Chow,M6N,NaN,NaN
156,Vietnamese Noodle House,M6N,NaN,NaN
158,Saigon Bangkok,M6N,NaN,2428 St Clair Ave W
159,China China Express,M9N,NaN,2145 Weston Rd.
160,Peter Anan Thai Restaurant,M9N,NaN,2049 Weston rd.
162,世外桃源,M2P,NaN,NaN
163,Ho Su Korean & Japanese Restaurant,M4P,NaN,NaN
170,FV Foods,M1R,NaN,2085 Lawrence Avenue East
172,Issimi sushi,M4R,NaN,1984 avenue road
174,Dimsum Break,M5R,NaN,"3rd Floor, Annex Bldg."
176,Sues Thai food (vickys),M6R,NaN,414 roncesvalles ave
178,Dynasty BBQ restaurant,M7R,NaN,1550 South Gateway
179,Wokker,M7R,NaN,NaN
182,Timehri Restaurant,M1S,NaN,4531 Sheppard Ave East
183,Inchen House Korean Restaurant,M1S,NaN,NaN
185,Royal Chinese Seafood Restaurant,M1S,NaN,"735 Middlefield Road, Unit 4-5"
186,Sakae Sushi,M4S,NaN,643a Mt Pleasant Rd
189,Spring Rolls,M5S,NaN,100 St. George Street
190,Asa Sushi,M6S,NaN,18 Jane St.
191,Yumi Sushi,M6S,NaN,2384 Bloor Street West
193,Sushi 2 Go,M6S,NaN,NaN
195,The Royal Chinese Restaurant 避風塘小炒,M1T,NaN,3587 Sheppard Ave E
196,Spicy Lucky Party,M1T,NaN,NaN
199,面對面,M1T,NaN,NaN
201,Yuzu,M4T,NaN,NaN
209,Sang Ho Seafood Restaurant,M5T,NaN,536 Dundas St W
210,Ten Sing Eatery,M1V,NaN,NaN
211,Yu Yummy Kitchen,M1V,NaN,NaN
212,真北餃子王,M1V,NaN,NaN
213,Jun Yue Foods,M1V,NaN,3833 Midland Ave
216,West Street Cuisine,M1V,NaN,NaN
217,Fok Yuan Seafood Restaurant,M1V,NaN,3833 Midland Avenue
219,SuperBuffet,M4V,NaN,NaN
220,sushi,M8V,NaN,2875 lakeshore st west
222,Jasmine Chinese Food,M1W,NaN,2900 Warden Avenue
225,Takesushi,M5W,NaN,Front
227,Chinese Canadia,M8W,NaN,NaN
228,Delicious,M8W,NaN,NaN
230,Lilings Kitchen,M1X,NaN,NaN
236,Yummy T&J,M4X,NaN,587 Parliament st
237,Szechuan Express,M5X,NaN,100 King St. W
241,sushi to go,M8X,NaN,2926 Bloor st w
244,Bowl,M4Y,NaN,NaN

Now we have venues with no postal code but we _do_ have an address. Time to engage Nominatum to see if the geocoder can get us the postal code.

In [13]:
# Fix a spurious row
asian_restaurants.loc[ asian_restaurants['Venue'] == 'Lucky Hakka', 'Venue Postal Code'] = np.NaN

# Use the Nominatum geocoder to get the postal code data
geolocator = Nominatim(user_agent="robs_ba_explorer")
mask = ~postal_code_mask & ~postal_code_match_mask & address_mask
postal_codes = pd.Series(dtype='object')
for address in tqdm(asian_restaurants.loc[ mask, 'Venue Address']):
    location = geolocator.geocode(address + ", Toronto, ON")
    if location != None:
        postal_codes[address] = location.address
postal_codes = postal_codes.str.extract("Ontario, (\w{3}(?:\s{1}\w{3})?).*$")   
postal_codes

100%|██████████| 79/79 [00:39<00:00,  2.01it/s]

                                 0
113 Bond Street            M5B 1Y2
572 Marlee Ave             M6B 2A2
529 Marlee Avenue          M6B 2A2
541 Marlee Ave             M6B 2A2
137 Martin Grove Road      M9B 4N3
5532 Lawrence Ave          M6B 2A2
900 Don Mills Road         M3C 2H2
120 Church St.             M5C 2G3
120 Church St              M5C 2G3
961 Eglington West         M6E 2H8
629 Kingston Rd            M4E 2V6
2030 Eglinton Avenue West  M6E 2K3
369 Yonge Street           M5B 1R8
45 Wicksteed Ave           M4G 3W3
220 Laird Dr               M4G 2L1
555 University Ave         M5G 1X3
183 Elizabeth St.          M5G 1G6
5865 Leslie St.            M2H 1J9
490 McNicoll Ave.          M2H 2E1
45 Overlea Blvd            M4H 1C3
Richmond Adelaide Centre       M5H
133 Richmond Street West       M5H
2900 Eglinton Ave E        M1J 2E4
Fairview Mall              M2J 5A7
1300 Finch Ave West        M3J 3K2
988 Danforth Ave.          M4J 1L9
188 Ossington              M6G 1M4
2328 Kingston rd           M1N 1T9
707 Kennedy Road           M1K 3M6
652 Finch Ave E            M2K 1G3
1614 Bayview Ave.          M4G 3B5
461 Danforth Ave.          M4K 1P6
100 Wellington St. W       M5K 1H6
325 Bamburgh Circle        M1W 3Y1
2133 Jane Street           M3M 1V1
2522 Jane Street           M3L 2E8
6 Coxwell                  M4C 3J6
40 King St West            M5H 1H1
2524 Keele st.             M6L 1W9
1635 Lawrence Ave W        M6L 3C9
785 Danforth Ave           M4K 1P6
1365 Wilson Ave            M3M 3C6
1921 Avenue road           M5M 3Z6
1931 Avenue Road           M5M 3Z6
399 Old Orchard Grove      M5M 3Z6
2539 Eglinton Ave. W       M6M 1T9
5197 Yonge St              M2N 5P7
5213 Yonge Street          M2N 5P8
2428 St Clair Ave W            M6N
2145 Weston Rd.            M9N 1X4
2049 Weston rd.            M9N 1X4
2085 Lawrence Avenue East  M1R 2Z3
1984 avenue road           M5M 3Z6
414 roncesvalles ave       M6R 2N2
4531 Sheppard Ave East     M1S 1V2
643a Mt Pleasant Rd        M4S 2N3
100 St. George Street      M5S 3J6
18 Jane St.                    M6S
2384 Bloor Street West         M6S
3587 Sheppard Ave E        M1T 3K7
536 Dundas St W            M5T 1H1
3833 Midland Ave           M1V 5L3
3833 Midland Avenue        M1V 5L3
2900 Warden Avenue         M1W 2R6
Front                      M5J 2L6
587 Parliament st          M4X 1P9
100 King St. W             M5X 1C7
2926 Bloor st w            M8X 2L5

In [14]:
# Loop through and set the Postal Code 
for index in tqdm(asian_restaurants.loc[mask].index):
    try:
        asian_restaurants.loc[index, 'Venue Postal Code'] = postal_codes.loc[asian_restaurants.loc[index, 'Venue Address'], 0]
    except KeyError:
        pass

# Reset masks
postal_code_mask = pd.notna(asian_restaurants['Venue Postal Code'])
postal_code_match_mask = (asian_restaurants['Venue Postal Code'].str.extract('^(\w{3})', expand=False) == asian_restaurants['Neighborhood'])
address_mask = pd.notna(asian_restaurants['Venue Address'])
mask = ~postal_code_match_mask & address_mask

# Check results
asian_restaurants[['Venue','Neighborhood','Venue Postal Code', 'Venue Address']].loc[mask]

100%|██████████| 79/79 [00:00<00:00, 3432.83it/s]

,Venue,Neighborhood,Venue Postal Code,Venue Address
16,Taste Buddies,M1C,M6B 2A2,5532 Lawrence Ave
17,W Sushi,M1C,NaN,235 Edinburgh rd
26,The Thai Grill,M6C,M6E 2H8,961 Eglington West
34,Korean Grill House,M1G,M5B 1R8,369 Yonge Street
36,Lucky Hakka,NaN,NaN,"3774 Lawrence Avenue East,"
40,ND sushi and grill,M4G,NaN,101-214 laird dr
47,Bungeoppang Stall,M6G,NaN,"PAT Central, 675 Bloor Street"
70,Aji Sushi,M3J,NaN,1325 Finch Street West
77,Bazara,M6J,M6G 1M4,188 Ossington
81,Ikki sushi,M1K,M1N 1T9,2328 Kingston rd
87,Tokyo Sushi (on Bayview),M2K,M4G 3B5,1614 Bayview Ave.
91,Wasabi Grand Buffet,M2K,NaN,98 Courtney Park Dr. East
108,Yogi Noodle Delight,M3L,M1W 3Y1,325 Bamburgh Circle
110,Pho Tien Phat,M3L,M3M 1V1,2133 Jane Street
115,O Sushi,M4L,M4C 3J6,6 Coxwell
118,Bento Nouveau,M5L,M5H 1H1,40 King St West
123,The Family Thai,M1M,M4K 1P6,785 Danforth Ave
172,Issimi sushi,M4R,M5M 3Z6,1984 avenue road
174,Dimsum Break,M5R,NaN,"3rd Floor, Annex Bldg."
178,Dynasty BBQ restaurant,M7R,NaN,1550 South Gateway
185,Royal Chinese Seafood Restaurant,M1S,NaN,"735 Middlefield Road, Unit 4-5"
220,sushi,M8V,NaN,2875 lakeshore st west
225,Takesushi,M5W,M5J 2L6,Front

In [15]:
# Update the Neighborhood to match the FSA in the Postal Code
mask = postal_code_mask & ~postal_code_match_mask & address_mask
asian_restaurants.loc[ mask, 'Neighborhood'] = asian_restaurants.loc[mask, 'Venue Postal Code'].str.extract('^(\w{3})', expand=False) 
asian_restaurants[['Venue','Neighborhood','Venue Postal Code', 'Venue Address']].loc[mask]

,Venue,Neighborhood,Venue Postal Code,Venue Address
16,Taste Buddies,M6B,M6B 2A2,5532 Lawrence Ave
26,The Thai Grill,M6E,M6E 2H8,961 Eglington West
34,Korean Grill House,M5B,M5B 1R8,369 Yonge Street
77,Bazara,M6G,M6G 1M4,188 Ossington
81,Ikki sushi,M1N,M1N 1T9,2328 Kingston rd
87,Tokyo Sushi (on Bayview),M4G,M4G 3B5,1614 Bayview Ave.
108,Yogi Noodle Delight,M1W,M1W 3Y1,325 Bamburgh Circle
110,Pho Tien Phat,M3M,M3M 1V1,2133 Jane Street
115,O Sushi,M4C,M4C 3J6,6 Coxwell
118,Bento Nouveau,M5H,M5H 1H1,40 King St West
123,The Family Thai,M4K,M4K 1P6,785 Danforth Ave
172,Issimi sushi,M5M,M5M 3Z6,1984 avenue road
225,Takesushi,M5J,M5J 2L6,Front

In [16]:
# Find remaining venues that need to be adjusted
postal_code_mask = pd.notna(asian_restaurants['Venue Postal Code'])
postal_code_match_mask = (asian_restaurants['Venue Postal Code'].str.extract('^(\w{3})', expand=False) == asian_restaurants['Neighborhood'])
address_mask = pd.notna(asian_restaurants['Venue Address'])
mask = ~postal_code_match_mask & ~postal_code_mask

asian_restaurants.loc[mask]

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue ID,Venue,Venue Latitude,Venue Longitude,Venue Address,Venue Postal Code,Venue Category,Venue Tip Count,Venue Price Tier,Venue Rating,Venue Likes
0,M5A,43.654260,-79.360636,4f73a473e4b0c1f445d21c78,Huayu Kitchen,43.654148,-79.357826,NaN,NaN,Chinese Restaurant,<NA>,<NA>,NaN,<NA>
5,M4B,43.706397,-79.309937,4dd05e15ae603b786d5f1a34,977 Cafe,43.706999,-79.310286,NaN,NaN,Asian Restaurant,1,2,NaN,0
12,M6B,43.709577,-79.445073,51a8f217498e902d972c817e,Miyako sushi,43.707717,-79.447597,NaN,NaN,Asian Restaurant,0,2,NaN,0
17,M1C,43.784535,-79.160497,506481cae4b01f36bfda395f,W Sushi,43.775670,-79.164440,235 Edinburgh rd,NaN,Japanese Restaurant,0,2,NaN,0
19,M3C,43.725900,-79.340923,5686b77338faf7478eb6c6aa,Asian Legend,43.726591,-79.342188,NaN,NaN,Dim Sum Restaurant,4,2,6.5,13
36,NaN,43.770992,-79.216917,4b64765ff964a52028b52ae3,Lucky Hakka,43.762470,-79.214164,"3774 Lawrence Avenue East,",NaN,Chinese Restaurant,9,1,6.6,4
40,M4G,43.709060,-79.363452,4bf2c38577b4c92887a26a1c,ND sushi and grill,43.711486,-79.363887,101-214 laird dr,NaN,Sushi Restaurant,4,2,NaN,1
42,M4G,43.709060,-79.363452,4f9483bce4b0ab5f0acfe249,Mikado,43.709240,-79.363980,NaN,NaN,Japanese Restaurant,0,2,NaN,0
46,M6G,43.669542,-79.422564,4d2d046a853ff04de86ec5da,Gobo sushi,43.670783,-79.421287,NaN,NaN,Japanese Restaurant,3,2,NaN,2
47,M6G,43.669542,-79.422564,4f063b710e61b14c291f5fe6,Bungeoppang Stall,43.668123,-79.420242,"PAT Central, 675 Bloor Street",NaN,Korean Restaurant,1,2,NaN,0
49,M1H,43.773136,-79.239476,4c3a185018e72d7fca551bf5,Tangerines,43.776290,-79.234870,NaN,NaN,Asian Restaurant,3,2,NaN,0
56,M3H,43.754328,-79.442259,5d2908853f9ff70023753702,Suhan Dumplings,43.754976,-79.442352,NaN,NaN,Korean Restaurant,0,2,NaN,0
65,M5H,43.650571,-79.384568,515b157ce4b0f13089704ef7,Bibab Express,43.650443,-79.383357,NaN,NaN,Korean Restaurant,1,2,NaN,4
68,M1J,43.744734,-79.239476,4cf14555899c6ea84587efc1,Jessie Jr,43.749131,-79.246781,NaN,NaN,Asian Restaurant,1,2,NaN,1
70,M3J,43.767980,-79.487262,55bc0982498ec5756e56b641,Aji Sushi,43.763519,-79.490142,1325 Finch Street West,NaN,Sushi Restaurant,1,2,NaN,4
74,M4J,43.685347,-79.338106,4eb2b4c8cc21adeaf893ad92,Green Lady,43.683649,-79.331739,NaN,NaN,Thai Restaurant,1,2,NaN,0
83,M1K,43.727929,-79.262029,4e5c122152b1421c1fbc39c3,Goodluck Chinese,43.732833,-79.266409,NaN,NaN,Chinese Restaurant,0,1,NaN,1
89,M2K,43.786947,-79.385975,4f45300be4b027c5799bf995,본가 신촌 설렁탕,43.784903,-79.392180,NaN,NaN,Korean Restaurant,0,2,NaN,0
90,M2K,43.786947,-79.385975,4ed291fb0e61efa333a810de,luxury street Viennese,43.787896,-79.381222,NaN,NaN,Asian Restaurant,1,2,NaN,0
91,M2K,43.786947,-79.385975,4cb72da6e262b60cb85374e0,Wasabi Grand Buffet,43.782392,-79.386934,98 Courtney Park Dr. East,NaN,Asian Restaurant,0,2,NaN,0
94,M3K,43.737473,-79.464763,4db8b8211e7206c23d0ece7d,Blossom Chinese Restaurant,43.730821,-79.465673,NaN,NaN,Chinese Restaurant,3,1,NaN,0
95,M3K,43.737473,-79.464763,52617c7211d2366882b7e5bf,Isinay Filipino Restaurant,43.731278,-79.464508,NaN,NaN,Filipino Restaurant,0,2,NaN,0
100,M4K,43.679557,-79.352188,4f25e4d7e4b050258cb9b3b7,katzu sushi,43.678714,-79.352812,NaN,NaN,Sushi Restaurant,<NA>,<NA>,NaN,<NA>
105,M1L,43.711112,-79.284577,4eadda1eb634339687eca52f,Wok with You,43.712528,-79.277116,NaN,NaN,Chinese Restaurant,0,1,NaN,0
106,M1L,43.711112,-79.284577,4e41b3db7d8bec1e4d0f3b8e,Good Luck,43.709093,-79.279433,NaN,NaN,Chinese Restaurant,0,1,NaN,0
107,M3L,43.739015,-79.506944,50f7294be4b0e9574b9ccbbb,Banh Mi Saigon,43.729331,-79.512646,NaN,NaN,Vietnamese Restaurant,0,2,NaN,0
109,M3L,43.739015,-79.506944,518fd3f5498ee8d60a7741fc,Cuu Long Pho,43.739575,-79.513980,NaN,NaN,Vietnamese Restaurant,0,2,NaN,0
112,M3L,43.739015,-79.506944,4f444a9de4b00b32df7d1fa7,Wok of Fame,43.740249,-79.518762,NaN,NaN,Chinese Restaurant,0,1,NaN,0
121,M6L,43.713756,-79.490074,4b7f28a0f964a5202d1b30e3,Dynasty House,43.705058,-79.492446,NaN,NaN,Dim Sum Restaurant,3,2,5.6,2
126,M2M,43.789053,-79.408493,52d493e2498efc19137ecb37,장군곱창,43.789348,-79.417912,NaN,NaN,Korean Restaurant,0,2,NaN,0
127,M2M,43.789053,-79.408493,554fcccc498e69353921a10d,Ha Roo,43.787318,-79.417314,NaN,NaN,Korean Restaurant,1,2,NaN,2
131,M3M,43.728496,-79.495697,51f5a048498e8a09d193b170,the golden plate,43.726514,-79.482986,NaN,NaN,Chinese Restaurant,0,1,NaN,0
155,M6N,43.673185,-79.487262,5301307a498e7981bebeb803,Ho Lee Chow,43.668005,-79.487039,NaN,NaN,Chinese Restaurant,0,2,NaN,0
156,M6N,43.673185,-79.487262,529e6d53498efaf2a89d4457,Vietnamese Noodle House,43.668853,-79.483557,NaN,NaN,Vietnamese Restaurant,0,2,NaN,1
162,M2P,43.752758,-79.400049,515736b7e4b07cf8c90579dc,世外桃源,43.750014,-79.407330,NaN,NaN,Chinese Restaurant,0,1,NaN,0
163,M4P,43.712751,-79.390197,4ca609b0f47ea14346845c21,Ho Su Korean & Japanese Restaurant,43.710002,-79.393856,NaN,NaN,Asian Restaurant,0,2,NaN,0
174,M5R,43.672710,-79.405678,5062dfc2e4b0857a7ef2dc38,Dimsum Break,43.671196,-79.405605,"3rd Floor, Annex Bldg.",NaN,Chinese Restaurant,0,1,NaN,0
178,M7R,43.636966,-79.615819,4c8e68ccd2aea0934838ce69,Dynasty BBQ restaurant,43.631943,-79.614552,1550 South Gateway,NaN,Chinese Restaurant,3,1,NaN,1
179,M7R,43.636966,-79.615819,4bb4d98cd027ef3b84cf0c9d,Wokker,43.634856,-79.617149,NaN,NaN,Chinese Restaurant,0,1,NaN,0
183,M1S,43.794200,-79.262029,4ca8c90fb7106dcb641b76a5,Inchen House Korean Restaurant,43.792231,-79.260045,NaN,NaN,Korean Restaurant,0,2,NaN,0
185,M1S,43.794200,-79.262029,4bd497d729eb9c7464ee91e1,Royal Chinese Seafood Restaurant,43.798496,-79.262196,"735 Middlefield Road, Unit 4-5",NaN,Chinese Restaurant,2,1,NaN,1
193,M6S,43.651571,-79.484450,527af49a11d2f3bf7f513577,Sushi 2 Go,43.649895,-79.481981,NaN,NaN,Sushi Restaurant,1,2,NaN,2
196,M1T,43.781638,-79.304302,515f2243e4b0a321e617d275,Spicy Lucky Party,43.783653,-79.304207,NaN,NaN,Asian Restaurant,0,2,NaN,0
199,M1T,43.781638,-79.304302,56671db5498e73381b1e07ce,面對面,43.778195,-79.308425,NaN,NaN,Szechuan Restaurant,1,<NA>,NaN,2
201,M4T,43.689574,-79.383160,4ed6b3c10aaf7ccfdb3f34b4,Yuzu,43.693323,-79.384449,NaN,NaN,Japanese Restaurant,0,2,NaN,0
210,M1V,43.815252,-79.284577,4d966919daec224bbdb9163e,Ten Sing Eatery,43.813733,-79.290695,NaN,NaN,Chinese Restaurant,1,1,NaN,0
211,M1V,43.815252,-79.284577,4e1ce8476284d5831b362e2c,Yu Yummy Kitchen,43.813711,-79.290700,NaN,NaN,Chinese Restaurant,0,1,NaN,0
212,M1V,43.815252,-79.284577,506786bfe4b0298864e741a6,真北餃子王,43.811195,-79.279444,NaN,NaN,Dumpling Restaurant,0,1,NaN,0
216,M1V,43.815252,-79.284577,57014840498e4d45dac665ba,West Street Cuisine,43.812430,-79.290580,NaN,NaN,Cantonese Restaurant,0,<NA>,NaN,0
219,M4V,43.686412,-79.400049,5158794be4b064814cb56d98,SuperBuffet,43.685091,-79.397906,NaN,NaN,Chinese Restaurant,1,1,NaN,0
220,M8V,43.605647,-79.501321,520aae5311d28380d879e25f,sushi,43.601128,-79.503433,2875 lakeshore st west,NaN,Asian Restaurant,0,2,NaN,0
227,M8W,43.602414,-79.543484,4fd29088e4b0b20a904a17da,Chinese Canadia,43.598528,-79.543680,NaN,NaN,Chinese Restaurant,0,1,NaN,0
228,M8W,43.602414,-79.543484,50dde628e4b047164010e57b,Delicious,43.598429,-79.544137,NaN,NaN,Asian Restaurant,0,2,NaN,0
230,M1X,43.836125,-79.205636,4e405ae962e19d610993c29f,Lilings Kitchen,43.818723,-79.204218,NaN,NaN,Asian Restaurant,0,2,NaN,0
244,M4Y,43.665860,-79.383160,4e36063c8877beb5e9b29c87,Bowl,43.665443,-79.382027,NaN,NaN,Asian Restaurant,0,2,NaN,0

In [17]:
# Do a reverse geocode lookup and extract postal code from address found
p = re.compile(r"Ontario, (\w{3}(?:\s{1}\w{3})?).*$")
for index in tqdm(asian_restaurants[mask].index):
    location = geolocator.reverse("{}, {}".format(asian_restaurants.loc[index, 'Venue Latitude'], asian_restaurants.loc[index, 'Venue Longitude']))
    m = p.search(location.address)
    asian_restaurants.loc[index, 'Venue Postal Code'] = m.group(1)
    asian_restaurants.loc[index, 'Neighborhood'] = m.group(1)[0:3]
asian_restaurants[mask]

100%|██████████| 55/55 [00:27<00:00,  2.02it/s]

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue ID,Venue,Venue Latitude,Venue Longitude,Venue Address,Venue Postal Code,Venue Category,Venue Tip Count,Venue Price Tier,Venue Rating,Venue Likes
0,M5A,43.654260,-79.360636,4f73a473e4b0c1f445d21c78,Huayu Kitchen,43.654148,-79.357826,NaN,M5A 1H7,Chinese Restaurant,<NA>,<NA>,NaN,<NA>
5,M4B,43.706397,-79.309937,4dd05e15ae603b786d5f1a34,977 Cafe,43.706999,-79.310286,NaN,M4B 2V7,Asian Restaurant,1,2,NaN,0
12,M6B,43.709577,-79.445073,51a8f217498e902d972c817e,Miyako sushi,43.707717,-79.447597,NaN,M6B 3L3,Asian Restaurant,0,2,NaN,0
17,M1E,43.784535,-79.160497,506481cae4b01f36bfda395f,W Sushi,43.775670,-79.164440,235 Edinburgh rd,M1E 2P9,Japanese Restaurant,0,2,NaN,0
19,M3C,43.725900,-79.340923,5686b77338faf7478eb6c6aa,Asian Legend,43.726591,-79.342188,NaN,M3C 2H2,Dim Sum Restaurant,4,2,6.5,13
36,M1G,43.770992,-79.216917,4b64765ff964a52028b52ae3,Lucky Hakka,43.762470,-79.214164,"3774 Lawrence Avenue East,",M1G 1R6,Chinese Restaurant,9,1,6.6,4
40,M4G,43.709060,-79.363452,4bf2c38577b4c92887a26a1c,ND sushi and grill,43.711486,-79.363887,101-214 laird dr,M4G 3W2,Sushi Restaurant,4,2,NaN,1
42,M4G,43.709060,-79.363452,4f9483bce4b0ab5f0acfe249,Mikado,43.709240,-79.363980,NaN,M4G 3W2,Japanese Restaurant,0,2,NaN,0
46,M6G,43.669542,-79.422564,4d2d046a853ff04de86ec5da,Gobo sushi,43.670783,-79.421287,NaN,M6G 3B9,Japanese Restaurant,3,2,NaN,2
47,M6G,43.669542,-79.422564,4f063b710e61b14c291f5fe6,Bungeoppang Stall,43.668123,-79.420242,"PAT Central, 675 Bloor Street",M6G 3B9,Korean Restaurant,1,2,NaN,0
49,M1H,43.773136,-79.239476,4c3a185018e72d7fca551bf5,Tangerines,43.776290,-79.234870,NaN,M1H 3B7,Asian Restaurant,3,2,NaN,0
56,M3H,43.754328,-79.442259,5d2908853f9ff70023753702,Suhan Dumplings,43.754976,-79.442352,NaN,M3H 2S1,Korean Restaurant,0,2,NaN,0
65,M5H,43.650571,-79.384568,515b157ce4b0f13089704ef7,Bibab Express,43.650443,-79.383357,NaN,M5H,Korean Restaurant,1,2,NaN,4
68,M1J,43.744734,-79.239476,4cf14555899c6ea84587efc1,Jessie Jr,43.749131,-79.246781,NaN,M1J 1T3,Asian Restaurant,1,2,NaN,1
70,M3J,43.767980,-79.487262,55bc0982498ec5756e56b641,Aji Sushi,43.763519,-79.490142,1325 Finch Street West,M3J 3H5,Sushi Restaurant,1,2,NaN,4
74,M4J,43.685347,-79.338106,4eb2b4c8cc21adeaf893ad92,Green Lady,43.683649,-79.331739,NaN,M4J 5B5,Thai Restaurant,1,2,NaN,0
83,M1K,43.727929,-79.262029,4e5c122152b1421c1fbc39c3,Goodluck Chinese,43.732833,-79.266409,NaN,M1K 2P8,Chinese Restaurant,0,1,NaN,1
89,M2N,43.786947,-79.385975,4f45300be4b027c5799bf995,본가 신촌 설렁탕,43.784903,-79.392180,NaN,M2N 4S5,Korean Restaurant,0,2,NaN,0
90,M2J,43.786947,-79.385975,4ed291fb0e61efa333a810de,luxury street Viennese,43.787896,-79.381222,NaN,M2J 2P9,Asian Restaurant,1,2,NaN,0
91,M2K,43.786947,-79.385975,4cb72da6e262b60cb85374e0,Wasabi Grand Buffet,43.782392,-79.386934,98 Courtney Park Dr. East,M2K 1G3,Asian Restaurant,0,2,NaN,0
94,M3K,43.737473,-79.464763,4db8b8211e7206c23d0ece7d,Blossom Chinese Restaurant,43.730821,-79.465673,NaN,M3K 1S6,Chinese Restaurant,3,1,NaN,0
95,M3K,43.737473,-79.464763,52617c7211d2366882b7e5bf,Isinay Filipino Restaurant,43.731278,-79.464508,NaN,M3K 1R6,Filipino Restaurant,0,2,NaN,0
100,M4K,43.679557,-79.352188,4f25e4d7e4b050258cb9b3b7,katzu sushi,43.678714,-79.352812,NaN,M4K 1P1,Sushi Restaurant,<NA>,<NA>,NaN,<NA>
105,M1L,43.711112,-79.284577,4eadda1eb634339687eca52f,Wok with You,43.712528,-79.277116,NaN,M1L 4H4,Chinese Restaurant,0,1,NaN,0
106,M1L,43.711112,-79.284577,4e41b3db7d8bec1e4d0f3b8e,Good Luck,43.709093,-79.279433,NaN,M1L 0G9,Chinese Restaurant,0,1,NaN,0
107,M3L,43.739015,-79.506944,50f7294be4b0e9574b9ccbbb,Banh Mi Saigon,43.729331,-79.512646,NaN,M3L 1L4,Vietnamese Restaurant,0,2,NaN,0
109,M3L,43.739015,-79.506944,518fd3f5498ee8d60a7741fc,Cuu Long Pho,43.739575,-79.513980,NaN,M3L 2E8,Vietnamese Restaurant,0,2,NaN,0
112,M3N,43.739015,-79.506944,4f444a9de4b00b32df7d1fa7,Wok of Fame,43.740249,-79.518762,NaN,M3N 1C2,Chinese Restaurant,0,1,NaN,0
121,M6L,43.713756,-79.490074,4b7f28a0f964a5202d1b30e3,Dynasty House,43.705058,-79.492446,NaN,M6L 3C9,Dim Sum Restaurant,3,2,5.6,2
126,M2M,43.789053,-79.408493,52d493e2498efc19137ecb37,장군곱창,43.789348,-79.417912,NaN,M2M 3W5,Korean Restaurant,0,2,NaN,0
127,M2M,43.789053,-79.408493,554fcccc498e69353921a10d,Ha Roo,43.787318,-79.417314,NaN,M2M 3W5,Korean Restaurant,1,2,NaN,2
131,M3M,43.728496,-79.495697,51f5a048498e8a09d193b170,the golden plate,43.726514,-79.482986,NaN,M3M 1J8,Chinese Restaurant,0,1,NaN,0
155,M6N,43.673185,-79.487262,5301307a498e7981bebeb803,Ho Lee Chow,43.668005,-79.487039,NaN,M6N,Chinese Restaurant,0,2,NaN,0
156,M6N,43.673185,-79.487262,529e6d53498efaf2a89d4457,Vietnamese Noodle House,43.668853,-79.483557,NaN,M6N,Vietnamese Restaurant,0,2,NaN,1
162,M2P,43.752758,-79.400049,515736b7e4b07cf8c90579dc,世外桃源,43.750014,-79.407330,NaN,M2P 2E3,Chinese Restaurant,0,1,NaN,0
163,M4P,43.712751,-79.390197,4ca609b0f47ea14346845c21,Ho Su Korean & Japanese Restaurant,43.710002,-79.393856,NaN,M4P 1G4,Asian Restaurant,0,2,NaN,0
174,M5T,43.672710,-79.405678,5062dfc2e4b0857a7ef2dc38,Dimsum Break,43.671196,-79.405605,"3rd Floor, Annex Bldg.",M5T 2E9,Chinese Restaurant,0,1,NaN,0
178,L4W,43.636966,-79.615819,4c8e68ccd2aea0934838ce69,Dynasty BBQ restaurant,43.631943,-79.614552,1550 South Gateway,L4W 5G6,Chinese Restaurant,3,1,NaN,1
179,L4W,43.636966,-79.615819,4bb4d98cd027ef3b84cf0c9d,Wokker,43.634856,-79.617149,NaN,L4W 0B3,Chinese Restaurant,0,1,NaN,0
183,M1S,43.794200,-79.262029,4ca8c90fb7106dcb641b76a5,Inchen House Korean Restaurant,43.792231,-79.260045,NaN,M1S 3E7,Korean Restaurant,0,2,NaN,0
185,M1S,43.794200,-79.262029,4bd497d729eb9c7464ee91e1,Royal Chinese Seafood Restaurant,43.798496,-79.262196,"735 Middlefield Road, Unit 4-5",M1S 3J1,Chinese Restaurant,2,1,NaN,1
193,M6S,43.651571,-79.484450,527af49a11d2f3bf7f513577,Sushi 2 Go,43.649895,-79.481981,NaN,M6S,Sushi Restaurant,1,2,NaN,2
196,M1T,43.781638,-79.304302,515f2243e4b0a321e617d275,Spicy Lucky Party,43.783653,-79.304207,NaN,M1T 2K2,Asian Restaurant,0,2,NaN,0
199,M1T,43.781638,-79.304302,56671db5498e73381b1e07ce,面對面,43.778195,-79.308425,NaN,M1T 1P7,Szechuan Restaurant,1,<NA>,NaN,2
201,M4S,43.689574,-79.383160,4ed6b3c10aaf7ccfdb3f34b4,Yuzu,43.693323,-79.384449,NaN,M4S 1A5,Japanese Restaurant,0,2,NaN,0
210,M1V,43.815252,-79.284577,4d966919daec224bbdb9163e,Ten Sing Eatery,43.813733,-79.290695,NaN,M1V 5L3,Chinese Restaurant,1,1,NaN,0
211,M1V,43.815252,-79.284577,4e1ce8476284d5831b362e2c,Yu Yummy Kitchen,43.813711,-79.290700,NaN,M1V 5L3,Chinese Restaurant,0,1,NaN,0
212,M1V,43.815252,-79.284577,506786bfe4b0298864e741a6,真北餃子王,43.811195,-79.279444,NaN,M1V 2W6,Dumpling Restaurant,0,1,NaN,0
216,M1S,43.815252,-79.284577,57014840498e4d45dac665ba,West Street Cuisine,43.812430,-79.290580,NaN,M1S 5C2,Cantonese Restaurant,0,<NA>,NaN,0
219,M4V,43.686412,-79.400049,5158794be4b064814cb56d98,SuperBuffet,43.685091,-79.397906,NaN,M4V 1J4,Chinese Restaurant,1,1,NaN,0
220,M8V,43.605647,-79.501321,520aae5311d28380d879e25f,sushi,43.601128,-79.503433,2875 lakeshore st west,M8V 1J2,Asian Restaurant,0,2,NaN,0
227,M8W,43.602414,-79.543484,4fd29088e4b0b20a904a17da,Chinese Canadia,43.598528,-79.543680,NaN,M8W 3T7,Chinese Restaurant,0,1,NaN,0
228,M8W,43.602414,-79.543484,50dde628e4b047164010e57b,Delicious,43.598429,-79.544137,NaN,M8W 3T4,Asian Restaurant,0,2,NaN,0
230,M1B,43.836125,-79.205636,4e405ae962e19d610993c29f,Lilings Kitchen,43.818723,-79.204218,NaN,M1B 5H3,Asian Restaurant,0,2,NaN,0
244,M4Y,43.665860,-79.383160,4e36063c8877beb5e9b29c87,Bowl,43.665443,-79.382027,NaN,M4Y 1H1,Asian Restaurant,0,2,NaN,0

In [18]:
# Fix the lat, long of the Neighborhoods
pd.reset_option("max_rows")
fix_lat_long = fsa_df.set_index('PostalCode')[ ['Latitude', 'Longitude'] ]
asian_restaurants = asian_restaurants.join(fix_lat_long, on='Neighborhood')
asian_restaurants = asian_restaurants.drop(columns=[ 'Neighborhood Latitude', 'Neighborhood Longitude'])
asian_restaurants = asian_restaurants.rename(columns={
    'Latitude': 'Neighborhood Latitude',
    'Longitude': 'Neighborhood Longitude'
})
cols = asian_restaurants.columns.to_list()
cols = [cols[0]] + cols[-2:] + cols[1:-2]
asian_restaurants = asian_restaurants[cols]
asian_restaurants

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue ID,Venue,Venue Latitude,Venue Longitude,Venue Address,Venue Postal Code,Venue Category,Venue Tip Count,Venue Price Tier,Venue Rating,Venue Likes
0,M5A,43.654260,-79.360636,4f73a473e4b0c1f445d21c78,Huayu Kitchen,43.654148,-79.357826,NaN,M5A 1H7,Chinese Restaurant,<NA>,<NA>,NaN,<NA>
1,M5S,43.662696,-79.400049,5ab3d9f875a6ea3a7ddc4d2b,Thai Express,43.661630,-79.387340,76 Grenville St,M5S 1B2,Thai Restaurant,0,2,6.4,0
2,M5S,43.662696,-79.400049,59a86be58d1070397a5101be,Sushi Shop,43.661620,-79.387636,"76 Grenville St, Woman's College Hospital",M5S 1B2,Sushi Restaurant,0,2,NaN,1
3,M1B,43.806686,-79.194353,4c706524df6b8cfab244b84d,Charley's Exotic Cuisine,43.800982,-79.200233,3-1158 Morningside Ave,M1B 3A4,Chinese Restaurant,1,1,NaN,1
4,M3B,43.745906,-79.352188,53bafb4f498eb927faa3cd9e,Matsuda Japanese Cuisine & Teppanyaki,43.745494,-79.345821,1300 Don Mills Rd #2,M3B 2W6,Japanese Restaurant,<NA>,<NA>,NaN,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242,M8X,43.653654,-79.506944,4aee0654f964a5206ad121e3,Sushi 2 Go,43.647875,-79.509427,2976 Bloor Street West,M8X 1B9,Sushi Restaurant,7,2,6.5,2
243,M8X,43.653654,-79.506944,4b11a52ef964a5204b8123e3,Momiji Sushi Bar & Grill,43.647843,-79.508534,2955 Bloor St. W.,M8X 1B8,Sushi Restaurant,14,2,7.8,36
244,M4Y,43.665860,-79.383160,4e36063c8877beb5e9b29c87,Bowl,43.665443,-79.382027,NaN,M4Y 1H1,Asian Restaurant,0,2,NaN,0
245,M4Y,43.665860,-79.383160,5c7a1d6f5bc27d00254a87e1,Dakgogi,43.665093,-79.383521,25 Wellesley St E,M4Y 2S9,Korean Restaurant,0,2,NaN,0
246,M4L,43.668999,-79.315572,56b2cd62498e0819ad42f567,My Little Dumplings,43.664504,-79.325709,1372 Queen St E,M4L 1C9,Dumpling Restaurant,1,1,NaN,1

In [19]:
# Check for the dupes
asian_restaurants.loc[asian_restaurants.duplicated(subset='Venue ID', keep=False)].sort_values(by='Venue ID')

Empty DataFrame
Columns: [Neighborhood, Neighborhood Latitude, Neighborhood Longitude, Venue ID, Venue, Venue Latitude, Venue Longitude, Venue Address, Venue Postal Code, Venue Category, Venue Tip Count, Venue Price Tier, Venue Rating, Venue Likes]
Index: []

In [20]:
# Final cleaned dataframe
asian_restaurants.drop_duplicates(ignore_index=True, inplace=True)
asian_restaurants

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue ID,Venue,Venue Latitude,Venue Longitude,Venue Address,Venue Postal Code,Venue Category,Venue Tip Count,Venue Price Tier,Venue Rating,Venue Likes
0,M5A,43.654260,-79.360636,4f73a473e4b0c1f445d21c78,Huayu Kitchen,43.654148,-79.357826,NaN,M5A 1H7,Chinese Restaurant,<NA>,<NA>,NaN,<NA>
1,M5S,43.662696,-79.400049,5ab3d9f875a6ea3a7ddc4d2b,Thai Express,43.661630,-79.387340,76 Grenville St,M5S 1B2,Thai Restaurant,0,2,6.4,0
2,M5S,43.662696,-79.400049,59a86be58d1070397a5101be,Sushi Shop,43.661620,-79.387636,"76 Grenville St, Woman's College Hospital",M5S 1B2,Sushi Restaurant,0,2,NaN,1
3,M1B,43.806686,-79.194353,4c706524df6b8cfab244b84d,Charley's Exotic Cuisine,43.800982,-79.200233,3-1158 Morningside Ave,M1B 3A4,Chinese Restaurant,1,1,NaN,1
4,M3B,43.745906,-79.352188,53bafb4f498eb927faa3cd9e,Matsuda Japanese Cuisine & Teppanyaki,43.745494,-79.345821,1300 Don Mills Rd #2,M3B 2W6,Japanese Restaurant,<NA>,<NA>,NaN,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242,M8X,43.653654,-79.506944,4aee0654f964a5206ad121e3,Sushi 2 Go,43.647875,-79.509427,2976 Bloor Street West,M8X 1B9,Sushi Restaurant,7,2,6.5,2
243,M8X,43.653654,-79.506944,4b11a52ef964a5204b8123e3,Momiji Sushi Bar & Grill,43.647843,-79.508534,2955 Bloor St. W.,M8X 1B8,Sushi Restaurant,14,2,7.8,36
244,M4Y,43.665860,-79.383160,4e36063c8877beb5e9b29c87,Bowl,43.665443,-79.382027,NaN,M4Y 1H1,Asian Restaurant,0,2,NaN,0
245,M4Y,43.665860,-79.383160,5c7a1d6f5bc27d00254a87e1,Dakgogi,43.665093,-79.383521,25 Wellesley St E,M4Y 2S9,Korean Restaurant,0,2,NaN,0
246,M4L,43.668999,-79.315572,56b2cd62498e0819ad42f567,My Little Dumplings,43.664504,-79.325709,1372 Queen St E,M4L 1C9,Dumpling Restaurant,1,1,NaN,1

In [21]:
# Save the data to file
with open('asian_restaurants.pkl', 'wb') as f:
        pickle.dump(asian_restaurants, f, pickle.HIGHEST_PROTOCOL)